body {
  margin: 0;
  font-family: Josefin_Sans !important
}

code {
  font-family: Josefin_Sans
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

p {
  font-family: Josefin_Sans;
}

.nav-link {
  font-family: Josefin_Sans;
}

.bg-footer {
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: small;
}

.bg-arrow-to-fun {
   flex-direction: column;
   margin-top: 10%;
}

.nav-link {
  color: black !important;
}

.bg-title {
  font-family: Josefin_Sans;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bg-pic {
  max-width: 400px;
  max-height: 50vh;
}

.bg-pic:hover {
  transform: scale(1.1);
}

.bg-pfp1 {
  width: 300px;
  border-radius: 5px;
}